{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Xabar yuborildi" %}{% endblock %}

{% block content %}
<div class="container py-5 my-5 text-center">
    <div class="alert alert-success shadow-lg p-5">
        <i class="bi bi-check-circle-fill display-1 mb-4 d-block text-success"></i>
        <h2 class="mb-4">{% trans "Rahmat!" %}</h2>
        <p class="lead mb-5">
            {% trans "Sizning xabaringiz muvaffaqiyatli yuborildi. Tez orada siz bilan bog‘lanamiz." %}
        </p>
        <a href="{% url 'home' %}" class="btn btn-primary btn-lg px-5">
            {% trans "Bosh sahifaga qaytish" %}
        </a>
    </div>
</div>
{% endblock %}